- var title = "Align";
include nav

.d-flex.justify-content-center.m-3(role='group')
  .form-floating
    select#select11.form-select.border-left
    label(for='select1') Species
  .form-floating.me-3
    select#select11.form-select.border-right
      option(value='2', selected) 2
      option(value='3') 3
      option(value='4') 4
      option(value='5') 5
    label(for='select1') Genes
  .form-floating
    select#select21.form-select.border-left
    label(for='select2') Species
  .form-floating.me-3
    select#select11.form-select.border-right
      option(value='2', selected) 2
      option(value='3') 3
      option(value='4') 4
      option(value='5') 5
    label(for='select1') Genes
  buttun#btn.btn.btn-primary.pt-3 Submit
script.
  fetch("data/sortedSpecies.json")
    .then(res => res.json())
    .then(json => {
      console.log(json);
      $("#select11").append(
        json.map((item, index) => {
          return `<option value="${item[0]}">${item[0]+'_'+item[1]}</option>`;
        })
      );
      $("#select21").append(
        json.map((item, index) => {
          return `<option value="${item[0]}">${item[0]+'_'+item[1]}</option>`;
        })
      );
    });
