script(src='javascripts/echarts.js')
#main(style='height: 3000px; width: 100%')
script.
	fetch("data/treeBird.json")
		.then(function (data) {
			return data.json();
		})
		.then(function (data) {
			var chartDom = document.getElementById("main");
			var myChart = echarts.init(chartDom);
			var option;
			option = {
				tooltip: {
					trigger: "item",
					triggerOn: "mousemove",
				},
				series: [
					{
						type: "tree",
						id: 0,
						name: "tree1",
						data: [data],
						top: "3%",
						left: "5%",
						bottom: "3%",
						right: "11%",
						symbolSize: 7,
						edgeShape: "polyline",
						edgeForkPosition: "63%",
						initialTreeDepth: 2,
						lineStyle: {
							width: 2,
						},
						label: {
							backgroundColor: "#fff",
							position: "left",
							verticalAlign: "middle",
							align: "right",
						},
						leaves: {
							label: {
								position: "right",
								verticalAlign: "middle",
								align: "left",
							},
						},
						emphasis: {
							focus: "descendant",
						},
						expandAndCollapse: true,
						animationDuration: 550,
						animationDurationUpdate: 750,
					},
				],
			};
			option && myChart.setOption(option);
		});
