- var title = "Tree";
include nav

#main(style='height: 1000px; width: 100%')
script.
  fetch("data/tree.json")
    .then(data => data.json())
    .then(data => {
      var chartDom = document.getElementById("main");
      var myChart = echarts.init(chartDom);
      var option;
      option = {
        tooltip: {
          trigger: "item",
          triggerOn: "mousemove",
        },
        series: [
          {
            type: "tree",
            id: 0,
            name: "tree1",
            data: [data],
            top: "3%",
            left: "5%",
            bottom: "3%",
            right: "11%",
            symbolSize: 7,
            edgeShape: "polyline",
            edgeForkPosition: "63%",
            initialTreeDepth: 5,
            lineStyle: {
              width: 2,
            },
            label: {
              backgroundColor: "#fff",
              position: "left",
              verticalAlign: "middle",
              align: "right",
            },
            leaves: {
              label: {
                position: "left",
                verticalAlign: "middle",
                align: "right",
              },
              itemStyle: {
                color: "#f00",
              },
            },
            emphasis: {
              focus: "descendant",
            },
            expandAndCollapse: true,
            annimation: true,
            animationDuration: 550,
            animationDurationUpdate: 750,
          },
        ],
      };
      option && myChart.setOption(option);
    });
