body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.active {
  border-top: 2px solid #00b7ff;
  border-bottom: 2px solid #00b7ff;
}

.border-left {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0.25rem !important;
  border-right-style: dashed !important;
}

.border-right {
  border-top-right-radius: 0.25rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0.25rem !important;
  border-left-style: dashed !important;
}
